# experiment notebooks
project.ipynb
faiss_knn.ipynb
deep_experiment.ipynb

#logs
logs
sh_logs

# data
GoogleNews-vectors-negative300.bin
word2vec_full.faiss
word2vec_test.faiss
wikipedia_dataset.csv
cpu_word2vec_test.faiss
v3_cpu_word2vec_full.faiss

# results
results

# additionnal files and directories
__pycache__
venv
slurm_script.sh
slurms
experiments.py