# experiment notebooks
project.ipynb

#logs
logs
sh_logs

# data
GoogleNews-vectors-negative300.bin
word2vec_full.faiss
word2vec_test.faiss
wikipedia_dataset.csv

# additionnal files and directories
__pycache__
venv
slurm_script.sh